extends layout

block content
  script(type='text/x-handlebars', data-template-name='circles')
    #container.container
      {{#each circle in controller}}
      {{view 'circle' contentBinding='circle'}}
      {{/each}}

  script(type='text/x-handlebars', data-template-name='circle')
    #inner-circle.inner-circle
