doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/circle.css')
  body
    block content
    script(src='http://code.jquery.com/jquery-1.10.2.min.js')
    script(src='http://builds.handlebarsjs.com.s3.amazonaws.com/handlebars-1.0.0.js')
    script(src='http://builds.emberjs.com/tags/v1.7.0/ember.js')
    script(src='http://builds.emberjs.com/tags/v1.0.0-beta.7/ember-data.js')
    script(src='/javascripts/application.js')
    script(src='/javascripts/adapter.js')
    script(src='/javascripts/models/photo.js')
    script(src='/javascripts/models/circle.js')
    script(src='/javascripts/router.js')
    script(src='/javascripts/routes/circles.js')
    script(src='/javascripts/views/circle.js')
