.container {
  position: absolute;
  left: 50%;
  top: 40%;
}

.outer-circle {
  width:50px;
  height:50px;
  position:absolute;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  background: url(http://placehold.it/50x50) no-repeat;
}

.inner-circle {
  position:relative;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  background: url(/images/ben.png) no-repeat;
}
